.nav-top,
.nav-bottom {
  position: fixed;
  width: 100%;
  z-index: 1;
  }

.nav-white,
.nav-hover-white:hover {
  color: white !important;
  background-color: black !important; 
}

.nav-top {
  top: 0;
  left: 0;
}

.nav-bar {
  width: 100%;
  overflow: hidden;
}
.right{
  float: right;
}

.display {
  position: relative;
  
}
.nav-bar .nav-bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
  color: white;
  text-decoration-line: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-bar .nav-button {
  padding: 16px;
}
.nav-bar .nav-button {
  white-space: normal;
}
.nav-button:hover {
  color: #000 !important;
  background-color: #ccc !important;
}
.nav-wide {
  letter-spacing: 4px;

}
.date {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
div.title {float: left;
background-color: rgba(255, 255, 255, 0.26);
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
margin-top: 20%;
margin-left: 10px;
border-radius: 10px;
padding-left: 10px;
padding-right: 10px;

}

div.titlep {
  background-color: rgba(255, 255, 255, 0.26);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  }

  div.titlea {
    background-color: rgba(64, 175, 79, 0.76);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
    border-radius: 10px;
    max-width: 900px;
    max-height: 1000px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    }
.titled {
  background-color: rgb(179, 178, 178);
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  max-width: 900px;
  max-height: 1000px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  }

  .modal-content {
    background-color: rgb(179, 178, 178);
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    max-width: 900px;
    max-height: 1000px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

.w3-btn,
.w3-button {
  border: none;
  border-radius: 10px;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
.services-button {
  border-radius: 10px;
  clear:both;
  float:left;
  margin-top: 5px;
}
.services-button:hover {
  background-color: grey;
  color: white;
  clear:both
}
.close {
  color: black;
  float: right;
  font-size: 40px;
  font-weight: bold;
  margin-top:  1%;
  margin-right: 5%;
}

.close:hover,
.close:focus {
  color:rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}

.jt{
  float:left;
  clear: both;
}

.sum {
  float:left;
  clear: both;
  max-width: 470px;
  margin-top: -10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: normal;
}
.profile{
  float:inherit;
  padding-right: -20px;
}
.learn {
margin-top: 2%;
margin-left: 10px;
padding-left: 10px;
padding-right: 10px;
float: left;
clear: both;}

.learns{
  font-size: 15px;
  border-radius: 5px;
  padding: 5px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.learns:hover { 
background-color: white;
color: black;
transition: ease-in;
transition-duration: 100ms;
}

h1 {color: rgb(28, 27, 68)}

body{background-image: url("../Images/novascotia.jpg");
background-position: center;
background-size: 2200px;
background-repeat: no-repeat;
}

/* start of slideshow css source:https://www.navschools.com/howto/howto_js_slideshow_gallery.asp*/
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  margin: auto
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 0.384);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.904);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  margin-top: -15px;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 12.5%;
}

.column1 {
  float: left;
  width: 25%;
}
/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* end of slideshow css src:https://www.navschools.com/howto/howto_js_slideshow_gallery.asp*/
.max {
  max-width: 1000px; max-height: 667px;
}

.padd {
margin-top: 50px;
}

.width100 {
  width: 100%;
}


@media (max-width: 1200px) {
  .nav-auto {
    max-width: 95%;
  }
}

@media (max-width: 815px) {
  .nav-modal-content {
    margin: 0 10px;
    width: auto !important;
  }

  .nav-modal {
    padding-top: 30px;
  }

  .nav-dropdown-hover.nav-mobile .nav-dropdown-content,
  .nav-dropdown-click.nav-mobile .nav-dropdown-content {
    position: relative;
  }

  .nav-hide-small {
    display: none !important;
  }

  .nav-mobile {
    display: block;
    width: 100% !important;
  }

  .nav-bar-item.nav-mobile,
  .nav-dropdown-hover.nav-mobile,
  .nav-dropdown-click.nav-mobile {
    text-align: center;
  }

  .nav-dropdown-hover.nav-mobile,
  .nav-dropdown-hover.nav-mobile .nav-btn,
  .nav-dropdown-hover.nav-mobile .nav-button,
  .nav-dropdown-click.nav-mobile,
  .nav-dropdown-click.nav-mobile .nav-btn,
  .nav-dropdown-click.nav-mobile .nav-button {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .nav-modal-content {
    width: 500px;
  }

  .nav-modal {
    padding-top: 10px;
  }
}

@media (min-width: 815px) {
  .nav-modal-content {
    width: 900px;
  }

  .nav-hide-large {
    display: none !important;
  }

  .nav-sidebar.nav-collapse {
    display: block !important;
  }
}

@media (max-width: 1800px) and (min-width: 1700px) {
  .nav-hide-medium {
    display: none !important;
  }
}

@media (max-width: 800px) {
  .nav-sidebar.nav-collapse {
    display: none;
  }

  .nav-main {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .nav-auto {
    max-width: 100%;
  }
}
.nav-card,
.nav-card-2 {
  background-color: lightgrey;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.nav-sidebar {
  height: 100%;
  width: 200px;
  background-color: #fff;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
}
.nav-black,
.nav-hover-black:hover {
  color: #fff !important;
  background-color: #000 !important;
}
.nav-bar-block .nav-dropdown-hover,
.nav-bar-block .nav-dropdown-click {
  width: 100%;
}

.nav-bar-block .nav-dropdown-hover .nav-dropdown-content,
.nav-bar-block .nav-dropdown-click .nav-dropdown-content {
  min-width: 100%;
}

.nav-bar-block .nav-dropdown-hover .nav-button,
.nav-bar-block .nav-dropdown-click .nav-button {
  width: 100%;
  text-align: left;
  padding: 8px 16px;
}
.nav-bar-block .nav-bar-item {
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}

.nav-bar-block.nav-center .nav-bar-item {
  text-align: center;
}

.nav-animate-left {
  position: relative;
  animation: animateleft 0.4s;
}
.displaynone {
  display: none
}
.nav-bar .nav-button {
  padding: 16px;
}
.nav-button:hover {
  color: #000 !important;
  background-color: #ccc !important;
}.nav-bar .nav-button {
  white-space: normal;
}.nav-bar-block .nav-dropdown-hover .nav-button,
.nav-bar-block .nav-dropdown-click .nav-button {
  width: 100%;
  text-align: left;
  padding: 8px 16px;
}.nav-dropdown-hover:hover>.nav-button:first-child,
.nav-dropdown-click:hover>.nav-button:first-child {
  background-color: #ccc;
  color: #000;
}.nav-btn,
.nav-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nav-disabled,
.nav-btn:disabled,
.nav-button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}
.nav-right {
  float: right !important;
}

.nav-modal {
  z-index: 3;
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.nav-modal-content {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  width: 600px;
}



.nav-bar-block .nav-bar-item {
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}

.nav-bar-block.nav-center .nav-bar-item {
  text-align: center;
}

.textfix { 
  text-decoration-line: none;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.link {
  text-decoration-line: none;
  color: white;
}

.link2 {
  color: white;
}

.link2:hover {
  color: blue;
}

.link:hover {
  color: blue;
}

.links {
  text-decoration-line: none;
  color: #000;
}

.links:hover {
  color: blue;
}

.linkl {
  color: black;
}

.linkl:hover {
  color: blue;
}