/* My background image */
body {
background-image: url("Images/20200806_200234.jpg");
}

/* The element my navigation links are inside */
div.navbar{ 
background-color: black;
padding-top:10px;
padding-bottom: 10px;
margin-bottom: 20px;
width: 100%;
}
/* This was to delete my defaults for my navbar */
ul.nav{
  list-style: none;
  marker: none;
}
/* This was to make my navigation bar horizontal */
li.menu {
 display: inline
}

/* This was to make my navigation links white and have distacne from each link */
li a {
  padding: 15px;
  color: white
}

/* This block element surronds my main title */
div.title {
  width: 300px;
  Background-color: hsla(5,20%, 20%, 0.2);
  margin: auto;
  margin-bottom: 30px;
  border-style: solid; 
  padding: 10px; 
  border-radius: 70px;
border: none
} 

/* This block element surronds all of my contend under my title on my first page */
div.all {
  width: 75%;
  Background-color:lightgrey; 
  margin: auto;
  padding: 15px; 
  border-style:solid; 
  border-color:black;
}

/* The styling used on my main title */
h1.titles {
  text-align: center;
  text-transform: uppercase;
  color: black ;
  text-shadow: 5px 7px 10px green;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  Font-size: 30px;
  margin-block-end: 20px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

/* The styling for any secondary headings */
h2 { 
  color: blue;
}

h3 { 
  clear :both;
}
h2#nextpage {
  float: left;
}

/* The styling for all my dates on my first page */
p.date{
  font-style: italic;
  color: green;
  padding-left; 15;
  
}

/* The styling any of my lists on my firs page ex.certifications,skills etc. */
ul.certs{
  list-style-type: square;
}

/* The styling for my link refrence */
p.links{ 
 font-weight: bold
}

/* The styling for the box around my images in page 2 */
div.images {
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 2%;
  border: 5px solid grey;
  background-color: lightgrey;
  width: 500px;
  height: auto;
  float: left;
}


/* The styling for my hover effect for each image in page 2*/
div.images:hover {
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 2%;
  border: 5px solid black;
  border-radius: 15px;
  transition: all ease-in-out 400ms;
}

/* The styling for my images in page 2*/
div.images img {
  margin: 15px;
  width: 90%;
  height: auto;
}

/* The styling for my description of each image in page 2*/
div.desc {
  padding: 30px;
  text-align: center; 
}
